-
    const CARD_CC = [
        {
            text: 'Llamadas telefónicas',
            icon: 'icon-vcardout-07.svg',
        },
        {
            text: 'Contacto por redes sociales',
            icon: 'icon-vcardout-08.svg',
        },
        {
            text: 'Mensajería instantánea',
            icon: 'icon-vcardout-09.svg',
        },
        {
            text: 'Conectado a tu sistema CRM y sistemas ERP (SAP o cualquier otro)',
            icon: 'icon-vcardout-10.svg',
        },
        {
            text: 'Un agente disponible para ayudarlo (solo pagas por el tiempo que lo necesites)',
            icon: 'icon-vcardout-11.svg',
        },
    ]

    const CARD_PBX = [
        {
            text: 'Ahorras hasta un 35%',
            icon: 'icon-hcard-01.svg',
        },
        {
            text: 'Siempre estás a la vanguardia',
            icon: 'icon-hcard-02.svg',
        },
        {
            text: 'Es independiente a tu número de minutos',
            icon: 'icon-hcard-03.svg',
        },
        {
            text: 'Soporte todo el año',
            icon: 'icon-hcard-04.svg',
        },
    ]

    const CARD_UC = [
        {
            text: 'Estarás siempre actualizado',
            icon: 'icon-hcardout-01.svg',
        },
        {
            text: 'Chat corporativo',
            icon: 'icon-hcardout-02.svg',
        },
        {
            text: 'Estados de presencia en todos los usuarios',
            icon: 'icon-hcardout-03.svg',
        },
        {
            text: 'Funciona en cualquier sistema operativo',
            icon: 'icon-hcardout-04.svg',
        },
        {
            text: 'Soporte todo el año',
            icon: 'icon-hcardout-05.svg',
        },
        {
            text: 'Agrega usuarios de manera fácil y rápida',
            icon: 'icon-hcardout-06.svg',
        },
    ]

    const CARD_CS = [
            {
                text: 'Enlaces punto a punto o multipunto para uso de datos',
                icon: 'icon-card-cs-01.svg',
            },
            {
                text: 'La mejor calidad en enlaces de voz',
                icon: 'icon-card-cs-02.svg',
            },
            {
                text: 'Excelente precio',
                icon: 'icon-card-cs-03.svg',
            },
            {
                text: 'Contratos personalizados',
                icon: 'icon-card-cs-04.svg',
            },
            {
                text: 'Beneficios fiscales',
                icon: 'icon-card-cs-05.svg',
            },
            {
                text: 'Visibilidad de tu tarifa',
                icon: 'icon-card-cs-06.svg',
            },
    ]

    const CARD_NOC = [
        {
            text: 'Monitoreo en tiempo real',
            icon: 'icon-card-noc-01.svg',
        },
        {
            text: 'Detección de posibles fallas y solución con rapidez',
            icon: 'icon-card-noc-02.svg',
        },
        {
            text: 'Asignación y coordinación de ingenieros para dichas fallas',
            icon: 'icon-card-noc-03.svg',
        },
        {
            text: 'Análisis de desempeño de los equipos',
            icon: 'icon-card-noc-04.svg',
        },
    ]