-
    const MENU = [
        {
            url: "#",
            name: "¿qué es intellivoice?",
        },
        {
            url: "#",
            name: "ip pbx cloud",
        },
        {
            url: "#",
            name: "unified communications",
        },
        {
            url: "#",
            name: "servicios de carrier",
        },
        {
            url: "#",
            name: "contact center",
        },
        {
            url: "#",
            name: "centros de operación",
        },
    ]