- 
    const SOCIALS = [
        {
            url: "https://www.facebook.com/intellivoicegroup",
            alt: "facebook",
            icon: "icon-facebook.svg", 
        },
        {
            url: "https://www.linkedin.com/company/intelli-voice",
            alt: "linkedin",
            icon: "icon-linkedin.svg",
        },
    ]