-
    const MENU = [
        {
            url: "#que-es",
            name: "¿qué es intellivoice?",
        },
        {
            url: "#pbx",
            name: "ip pbx cloud",
        },
        {
            url: "#uc",
            name: "unified communications",
        },
        {
            url: "#cs",
            name: "carrier services",
        },
        {
            url: "#cc",
            name: "contact center",
        },
        {
            url: "#noc",
            name: "noc-soc iot",
        },
    ]