- 
    const SOCIALS = [
        {
            url: "#",
            alt: "facebook",
            icon: "icon-facebook.svg", 
        },
        {
            url: "#",
            alt: "linkedin",
            icon: "icon-linkedin.svg",
        },
    ]