.aside {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: var(--sm);
    background-color: var(--first);
    padding: var(--md) var(--sm);
    position: fixed;
    right: 0;
    min-height: 100vh;
    max-width: 6.4rem;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;

    .form-contact {
        display: none;
    }

    &:hover {
        grid-template-columns: 1fr;
        max-width: 48rem;

        .form-contact {
            display: block;
        }

        .alt-contact {
            display: none;
        }
    }
}