.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media only screen and (min-width: 568px) {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    &--inside {
        background-color: var(--first);
        padding: var(--md);

        .card__text {
            color: var(--text-alt);
        }
    }

    &--outside {
        
        .card__text {
            padding: var(--md);
        }
    }

    &--left {

        .card__icon {
            
            @media only screen and (min-width: 568px) {
                order: 0;
                margin-right: var(--md);
                margin-bottom: 0;
                margin-left: 0;
            }
        }
    }

    &__text {
        width: 100%;
        font-size: var(--md);
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        margin-bottom: var(--md);

        @media only screen and (min-width: 568px) {
            order: 1;
            margin-left: var(--md);
            margin-bottom: 0;
        }
    }

    &--second {
        color: var(--text);
    }

    &--alt {
        color: var(--text-alt);
    }

    &--bgfirst {
        background-color: var(--first);
    }
    
    &--bgsecond {
        background-color: var(--text);
    }
    
    &--bgalt {
        background-color: var(--text-alt);
    }
}

.cardv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__img {
        padding: var(--md);
        margin-bottom: var(--md);

        @media only screen and (min-width: 1024px) {
            padding-top: var(--xx);
            padding-bottom: var(--xx);
        }
    }

    &__icon {
        width: 8rem;
        height: 8rem;
    }
}