.cc {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    gap: var(--md);
    margin-top: auto;
    margin-bottom: auto;
    width: 100vw;
    
    &__box {
        margin-top: auto;
        margin-bottom: auto;
        
        &:first-child {
            grid-column-start: 2;
            grid-column-end: 7;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &:last-child {
            grid-column-start: 7;
            grid-column-end: 11;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }

    &__display {
        font-family: 'museo_sans700';
        font-size: 4.8rem;
        line-height: 1;
        margin-bottom: var(--sm);
    }

    &__text {
        font-size: var(--md);
        margin-bottom: var(--sm);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__img {
        max-width: 100%;
    }

    &--700 {
        font-family: 'museo_sans700';
    }
}