.contact-alt {
    display: grid;
    grid-template-columns: 3.2rem;
    grid-template-rows: repeat(3, 1fr);
    background-color: var(--first);
    padding: var(--md);
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 10;
    

    &__box {
        
        &:first-child {
            margin-bottom: auto;
            height: 8.2rem;
        }

        &:nth-child(2) {
            margin-top: auto;
            margin-bottom: auto;

            a {
                display: block;
                margin-bottom: var(--xs);
            }
        }
        
        &:last-child {
            margin-top: auto;
        }
    }

    &__icon {
        height: var(--lg);
        width: auto;
    }

    &__caption {
        color: var(--text-alt);
        font-size: var(--md);
        transform: rotate(-90deg);
    }
}