.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    background-color: var(--text-alt);
    box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    padding: var(--md) var(--sm);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    &__child {
        grid-column-start: 2;
        grid-column-end: 12;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: auto;
        height: var(--lg);
    }

    &__nav {
        position: relative;

        &:hover .menu {
            display: flex;
        }
    }
}