.home {
    background-image: url("#{$pathImg}bg.png");
    background-position: center;
    background-size: cover;
    display: flex;

    &__title {
        font-size: calc(var(--lg) + 1vw);
        text-align: center;
        margin: auto;

        @media only screen and (min-width: 568px) {
            font-size: calc(3.2rem + 2vw);
        }
        
        @media only screen and (min-width: 768px) {
            font-size:  7.2rem;
        }
        
        @media only screen and (min-width: 1024px) {
            font-size:  8.8rem;
        }
    }

    &__icon {
        cursor: pointer;
        margin-top: var(--md);
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}