.link {
    color: var(--first);
    font-family: 'museo_sans700';
    // font-size: var(--md);
    @extend .text--body;
    text-decoration: none;
    display: flex;

    &:hover {
        text-decoration: underline;
    }

    &::after {
        content: url("#{$pathImg}icon-next.svg");
        margin-left: var(--sm);
    }
}