.socials {
    position: fixed;
    right: calc(51.2rem + 50%);
    bottom: var(--md);
    // grid-column-start: 1;
    // grid-column-end: 3;
    z-index: 10;

    &__menu {

    }
    
    &__item {
        list-style-type: none;
        text-align: right;
        margin-bottom: var(--xs);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        color: var(--first);
        font-size: 1.4rem;
        text-decoration: none;
    }

    &__icon {
        width: var(--lg);
    }
}