$margins: (
    xx: 8rem,
    xl: 4rem,
    lg: 3.2rem,
    md: 2.4rem,
    sm: 1.6rem,
    xs: 0.8rem,
    ss: 0.4rem,
);

:root {

    @each $key, $val in $margins {
        --#{$key}: #{$val};
    }

}