.__column-grid.bg-free {
    background-color: var(--text);
    background-image: url('../img/IV_WP_Page5_IMG.png');
    background-position-x: calc(-46% + 51.2rem);
    background-position-y: calc(100% - 4rem);
    background-repeat: no-repeat;
    background-size: 56%;
}