.text {

    &--display {
        font-size: 6rem;
    }
    
    &--title {
        font-size: var(--lg);
    }

    &--title-alt {
        font-size: var(--sm);
    }

    &--body {
        // font-size: var(--md);
        font-size: 2.2rem;
    }

    &--emphasis {
        // font-size: var(--xl);
        font-size: 3.8rem;
    }
    
    &--bold {
        font-family: 'museo_sans700';
    }

    &--light {
        font-family: 'museo_sans100'
    }
    
    &--first {
        color: var(--first);
    }

    &--second {
        color: var(--second);
    }

    &--alt {
        color: var(--text-alt);
    }

    &--mbottom {
        margin-bottom: var(--sm);
    }

    &--shadow {
        text-shadow: 0 0 0.6rem rgba(0,0,0,0.8);
    }

}