.alt-contact
    .alt-contact__box
        img(src="../img/icon-contact.svg", class="alt-contact__icon" alt="contáctame")
    .alt-contact__box
        img(src="../img/icon-email.svg", class="alt-contact__icon" alt="email")
        img(src="../img/icon-whatsapp.svg", class="alt-contact__icon" alt="whatsapp")
    .alt-contact__box
        h1.alt-contact__title Contáctame
