section.cc
    .cc__box
        img(src=`${imgPath}IV_WP_Page3_IMG.png`, class="cc__img")
    .cc__box
        h1.cc__display Servicios <span class="cc__display first">de Carrier:</span>
        p.cc__text Uno de los beneficios de tener tus servicios de comunicación administrados con IntelliVoice en la nube es la funcionalidad de estar siempre conectado, así como enlaces de internet dedicados.
        p.cc__text.cc--700 Es decir, siempre podrás hacer llamadas de manera confiable, sin importar dónde estés.
        p.cc__text En un mundo hiperconectado, la mejor decisión que puedes tomar es ser parte de el.
        p.cc__text.cc--700.first Conoce cómo