.cc__child
    h1.text--display.text--bold.text--second Contact Center
.cc__child
    img(src=`${pathImg}IV_WP_Page4_IMG.png`, class="cc__img")
.cc__child
    p.text--body.text--mbottom Te acompañamos en todo momento y desde cualquier medio: redes sociales, atención telefónica, WhatsApp, Twitter. Tú decides cuándo y qué tanto apoyo necesitas y ahí estaremos para ti.
    p.text--body.text--mbottom <span class="text--bold">Tenemos todas las herramientas disponibles</span> para mantenernos conectados y ayudarte en lo que necesites.
    a(href="#cc-desc", class="link") Conoce cómo aquí