.contact-alt.animate__animated.animate__fadeInRight
    .contact-alt__box
        img(src=`${pathImg}icon-contact.svg`, class="contact-alt__icon" alt="contáctame")
    .contact-alt__box
        a(href="#form-contact"): img(src=`${pathImg}icon-email.svg`, class="contact-alt__icon" alt="email")
        a(href="https://api.whatsapp.com/send?phone=+5215546713899&text=Hola!%20Escribe%20tu%20mensaje", target="_blank"): img(src=`${pathImg}icon-whatsapp.svg`, class="contact-alt__icon" alt="whatsapp")
    .contact-alt__box
        h1.contact-alt__caption Contáctame
