.contact-alt
    .contact-alt__box
        img(src="../img/icon-contact.svg", class="contact-alt__icon" alt="contáctame")
    .contact-alt__box
        a(href="#"): img(src="../img/icon-email.svg", class="contact-alt__icon" alt="email")
        a(href="#"): img(src="../img/icon-whatsapp.svg", class="contact-alt__icon" alt="whatsapp")
    .contact-alt__box
        h1.contact-alt__caption Contáctame
