.cs__child
    img(src=`${pathImg}IV_WP_Page3_IMG.png`, class="cs__img")
.cs__child
    h1.text--display.text--bold.text--first.text--mbottom Carrier Services
    p.text--body.text--mbottom Uno de los beneficios de tener tus servicios de comunicación administrados con Intelli Voice en la nube es la funcionalidad de las trocales SiP Análogos o Digitales, así como enlaces de internet dedicados.
    p.text--body.text--bold.text--mbottom Es decir, siempre podrás hacer llamadas de manera confiable sin importar dónde estés.
    p.text--body.text--mbottom En un mundo hiperconectado, <span class="text--bold">la mejor decisión que puedes tomar es estar muy bien conectado.</span>
    a(href="#cs-desc", class="link") Conéctate