.cs
    .cs__box
        h1.cs__display.text-alt Con IntelliVoice siempre estarás actualizado.
        h2.cs__display.first Solo tienes que usarlo.
    .cs__box
        p.cs__text.text-alt Deja que nosotros nos encarguemos de todo y tú solo
        p.cs__text.cs--700.first disfruta de los beneficios