form(method="get", action="", class="form-contact", id="form-contact")
    .form-contact__box
        input(type="text", name="nombre", placeholder="Escribe tu nombre y apellido", data-rule="required|name", class="form-contact__input button__ghost")
        label(for="nombre", class="form-contact__label") Nombre (requerido)
    .form-contact__box
        input(type="email", name="correo", placeholder="Escribe tu e-mail", data-rule="required|email", class="form-contact__input button__ghost")
        label(for="correo", class="form-contact__label") Correo (requerido)
    .form-contact__box
        input(type="tel", name="telefono", placeholder="Escribe tu número telefónico", data-rule="phone" class="form-contact__input button__ghost")
        label(for="telefono", class="form-contact__label") Teléfono
    .form-contact__box
        input(type="text", name="empresa", placeholder="Escribe el nombre de tu empresa", class="form-contact__input button__ghost") 
        label(for="empresa", class="form-contact__label") Empresa
    .form-contact__box
        textarea(name="comentarios", placeholder="Escribe tu comentario", class="form-contact__input form-contact__textarea button__ghost")
        label(for="comentarios", class="form-contact__label") Comentarios
    .form-contact__box
        input(type="submit", value="Enviar", class="button")