.noc
    .noc__box
        h1.noc__display Sabemos que la seguridad es lo más <span class="frist free--700">importante</span>
        p.noc__text Desde cualquier medio: redes sociales, atención telefónica, WhatsApp, Twitter... Tú decides cuándo y qué tanto apoyo necesitas y ahí estaremos para ti.
        p.noc__text <span class="noc--700">Tenemos todas las herramientas disponibles</span> para mantenernos conectados y ayudarte en lo que necesites.
        p.noc__text.noc--700.first Conoce cómo aquí
    .noc__box
        img(src=`${imgPath}IV_WP_Page4_IMG.png`, class="noc__img")