.noc__child
    h1.text--display.text--bold.text--first.text--mbottom NOC-SOC IoT
    p.text--body.text--alt Sabemos que la seguridad es lo más importante, por eso tenemos centros de operación NOC-SOC IoT, que cuentan con los mejores sistemas de seguridad para mantener tu información siempre protegida.
.noc__child
    img(src=`${pathImg}noc-img-right.svg`, class="noc__img", alt="image")
.noc__child
    img(src=`${pathImg}noc-img-left.svg`, class="noc__img", alt="image")
.noc__child
    p.text--body.text--alt.text--mbottom Estos centros de operación, llamados así por sus siglas en inglés (NOC: Network Operation Center) son utilizados para monitorear redes y SOC (Security Operation Center) y IoT (Internet of things) son empleados para Monitoreo de Seguridad informática.
    a(href="#noc-desc", class="link") Manten a salvo toda tu información.