.pbx__child
    h1.text--display.text--bold IP PBX <span class="text--display text--bold text--first">Cloud</span>
.pbx__child
    p.text--body Operar un IP PBX es muy costoso por todas las especificaciones técnicas que tiene y sus constantes actualizaciones de software y hardware.
.pbx__child
    h2.text--emphasis.text--light ¡Reduce <span class="text--bold">los costos y ahorra hasta un 35% con IP PBX Cloud!</span>
.pbx__child
    a(href="#pbx-desc", class="link") Da clic aquí y conoce cómo
.pbx__child
.pbx__child
    img(src=`${pathImg}IV_WP_Page1_IMG.png`, class="pbx__img")