.que-es
    .que-es__box
        h1.que-es__display ¿Qué es Intellivoice?
        img(src=`${imgPath}bg.png`, class="que-es__hero-img")
    .que-es__box
        h2.que-es__caption <span class="que-es--700">Implementamos tecnologías integrales</span> de comunicación unificadas,
        p.que-es__text utilizando los más avanzados desarrollos en hardware, software y servicios en la nube.
        p.que-es__text Esto para que nuestros clientes experimenten mayor productividad, mediante una combinación de dispositivos, servicios y tecnologías, incluyendo <span class="first">presencia, movilidad, colaboración, conferencias de voz y video, mensajería, entre otras.</span>