nav.socials
    ul.socilas__menu
        each item in SOCIALS
            li.socials__item: a(href=`${item.url}`, class="socials__link")
                img(src=`${pathImg}${item.icon}`, class="socials__icon", alt=`${item.alt}`)
        //- li.socials__item: a(href="#", class="socials__link") Acerca de nosotros
        

