.uc__child
    h1.text--display.text--bold.text--first.text--mbottom Unified Comunications
    p.text--body.text--alt Con IntelliVoice siempre estarás actualizado sin tener que hacer nada.
.uc__child
    img(src=`${pathImg}uc-img-right.svg`, class="uc__img", alt="image")
.uc__child
    img(src=`${pathImg}uc-img-left.svg`, class="uc__img", alt="image")
.uc__child
    p.text--body.text--alt.text--mbottom Deja que nosotros nos encarguemos de todo y tú solo
    a(href="#uc-desc", class="link") Disfruta de los beneficios