.uc
    .uc__box
        h1.uc__display Tener un conmutador
        p.uc__text en tu oficina es muy costoso por todas las especificaciones técnicas requeridas y sus constantes actualizaciones de software y hardware. 
        h2.uc__display-alt ¡Reduce los costos y ahorra hasta 35% teniéndolo en la nube!
        p.uc__text.uc--700.first Da clic aquí y conoce cómo
    .uc__box
        img(src=`${imgPath}IV_WP_Page1_IMG.png`, class="uc__img")