include ../config/conf_variables.pug
include ../config/conf_menu.pug
include ../config/conf_socials.pug

<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Intellivoice
        link(href="../css/fonts.css", rel="stylesheet")
        link(href="../css/styles.css", rel="stylesheet")
    body

        include ../components/header
        include ../components/socials
        include ../components/contact-alt

        .__column-grid.vh.bg-home
            include ../components/home
        
        .__column-grid.vh
            include ../components/que-es
        
        .__column-grid.vh.bg-uc
            include ../components/uc
        
        .__column-grid.vh.bg-cs
            include ../components/cs
        
        .__column-grid.vh
            include ../components/cc
        
        .__column-grid.vh
            include ../components/noc
        
        .__column-grid.vh.bg-free
            include ../components/free